li {
  padding: 0.2rem 0;
}

.buttons {
  button {
    font-size: 90%;
  }
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.error {
  background-color: red;
  color: white
}

select {
  font-size: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
