:host>div { color: white; padding: 1rem 0.3rem; }
h4 { margin: 0; color: white;}
a { cursor: pointer; color: yellow; font-style: italic; font-size: 60%; padding: 0 0.2rem;  }

.Blue { background-color: blue; }
.Green { background-color: green; }
.Red { background-color: red; }
